
body{
    background-image: url(https://30eda976422649e867fd-7bd6c75aa0f267903330ee77f84d330a.ssl.cf1.rackcdn.com/food_photography_42.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.topnav{
    background-color: #60BDBB;
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: "Avenir Next";
 }

.topnav a:hover{
    background-color: white;
    color: #60BDBB;
    text-decoration: none;
}

#icon{
    float: right;
    height: 50px;
    width: 90px;
    padding: 4px;
    margin: 4px;
    align-items: center;
}

.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; 
    width: 100%;
    border: solid white;
    border-radius: 14px;
    background-color: #60BDBB;
    padding: 20px;
}

h1{
    font-family: "Avenir Next";
    color: #60BDBB;
    letter-spacing: 10PX;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid white;
    border-radius: 4px;
    background-image: url(marble2.png);
}

h4{
    font-family: "Avenir Next";
    background-color: white;
    border-radius: 4px;
    color: #60BDBB;
    text-align: center;
    padding: 10px;
}

li{
    align-items: left;
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
}

.sauce{
    float: right;
    font-weight: normal;
}
.row{
    padding: 20px;
}

@media (max-width: 640px){
  #icon{
    display: none;
  }

  .topnav a {
    float: none;
    width: 100%;
  }
}